extends scaffolding/page-layout.pug

block title
    | Сертификаты | Санитарная Эпидемиологическая Служба

block header
    include modules/header-inner.pug

block main
    main(class="page__main  page-main  page-main--certificates")
        ul(class="page-main__breadcrumbs  breadcrumbs  container")
            li(class="breadcrumb__item")
                a(class="breadcrumb__link" href="#") Главная

            li(class="breadcrumb__item  breadcrumb__item--active")
                a(class="breadcrumb__link") Дезинсекция

        h1(class="page-main__title  visually-hidden") Сертификаты

        section(class="page-main__certificates  certificates")
            div(class="certificates__container  container")
                h2(class="certificates__title  inner-section-title") Сертификаты
                <ul class="certificates__list">
                    <li class="certificates__item">
                        <picture>
                            <source media="(min-width: 768px)" srcset="img/certificates-1-large.png">
                            <img class="certificates__item-img" src="img/certificates-1-small.png" alt="Сертификат">
                        </picture>
                        <h3 class="certificates__item-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                        <p class="certificates__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis neque sed eleifend sagittis. Nulla mattis diam eu malesuada porttitor. Pellentesque eu dignissim libero.</p>
                    </li>
                    <li class="certificates__item">
                        <picture>
                            <source media="(min-width: 768px)" srcset="img/certificates-2-large.png">
                            <img class="certificates__item-img" src="img/certificates-2-small.png" alt="Сертификат">
                        </picture>
                        <h3 class="certificates__item-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                        <p class="certificates__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis neque sed eleifend sagittis. Nulla mattis diam eu malesuada porttitor. Pellentesque eu dignissim libero.</p>
                    </li>
                    <li class="certificates__item">
                        <picture>
                            <source media="(min-width: 768px)" srcset="img/certificates-3-large.png">
                            <img class="certificates__item-img" src="img/certificates-3-small.png" alt="Сертификат">
                        </picture>
                        <h3 class="certificates__item-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                        <p class="certificates__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis neque sed eleifend sagittis. Nulla mattis diam eu malesuada porttitor. Pellentesque eu dignissim libero.</p>
                    </li>
                    <li class="certificates__item">
                        <picture>
                            <source media="(min-width: 768px)" srcset="img/certificates-4-large.png">
                            <img class="certificates__item-img" src="img/certificates-4-small.png" alt="Сертификат">
                        </picture>
                        <h3 class="certificates__item-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                        <p class="certificates__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis neque sed eleifend sagittis. Nulla mattis diam eu malesuada porttitor. Pellentesque eu dignissim libero.</p>
                    </li>
                    <li class="certificates__item">
                        <picture>
                            <source media="(min-width: 768px)" srcset="img/certificates-5-large.png">
                            <img class="certificates__item-img" src="img/certificates-5-small.png" alt="Сертификат">
                        </picture>
                        <h3 class="certificates__item-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                        <p class="certificates__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis neque sed eleifend sagittis. Nulla mattis diam eu malesuada porttitor. Pellentesque eu dignissim libero.</p>
                    </li>
                    <li class="certificates__item">
                        <picture>
                            <source media="(min-width: 768px)" srcset="img/certificates-6-large.png">
                            <img class="certificates__item-img" src="img/certificates-6-small.png" alt="Сертификат">
                        </picture>
                        <h3 class="certificates__item-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                        <p class="certificates__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis neque sed eleifend sagittis. Nulla mattis diam eu malesuada porttitor. Pellentesque eu dignissim libero.</p>
                    </li>
                </ul>

        block contacts
            include modules/contacts-block.pug

block custom-scripts
    script(src="js/call-request-inner.js")
