extends scaffolding/page-layout.pug

block title
    | Дезинсекция: описание | Услуги | Санитарная Эпидемиологическая Служба

block header
    include modules/header-inner.pug

block main
    main(class="page__main  page-main  page-main--textpage")
        ul(class="page-main__breadcrumbs  breadcrumbs  container")
            li(class="breadcrumb__item")
                a(class="breadcrumb__link" href="#") Главная
            li(class="breadcrumb__item")
                a(class="breadcrumb__link" href="#") Услуги
            li(class="breadcrumb__item  breadcrumb__item--active")
                a(class="breadcrumb__link") Дезинсекция
        h1(class="page-main__title  visually-hidden") Дезинсекция: описание услуги

        section(class="page-main__worktypes-text  worktypes-text")
            div(class="worktypes-text__container  container")
                h2(class="worktypes-text__title")
                    span(class="worktypes-text__string") Санитарная служба
                    br
                    | уничтожения насекомых в Москве
                p(class="worktypes-text__details") Решить вопрос раз и навсегда способна наша санитарная служба по уничтожению вредных насекомых в Москве, а многолетний опыт и сотни благодарных отзывов — яркое тому подтверждение. Но в чем принципиальное отличие нашей компании от других, в рамках оказания одной и той же услуги? Как же происходить дезинфекция насекомых именно у нас?
                h3(class="worktypes-text__list-title") Дезинфекция насекомых — особенности процесса:
                ol(class="worktypes-text__list  worktypes-text__list--1")
                    li(class="worktypest-text__item") Прежде всего, необходимо определить степень заражения объекта;
                    li(class="worktypest-text__item") Подготовить помещение к обработке;
                    li(class="worktypest-text__item") Подобрать адекватную комбинацию рабочих препаратов;
                    li(class="worktypest-text__item") Рассчитать пропорции концентратов в рабочем растворе;
                ol(class="worktypes-text__list  worktypes-text__list--2")
                    li(class="worktypest-text__item") Строго соблюдать методику травли насекомых;
                    li(class="worktypest-text__item") Выполнять профилактические мероприятия и рекомендации специалиста.
            div(class="worktypes-text__lead  lead")
                div(class="lead__container  container")
                    picture(class="lead__image-wrapper")
                        source(media="(min-width: 1220px)" srcset="img/worktypes-text-lead-image-large.png")
                        img(class="lead__image" src="img/worktypes-text-lead-image-small.png" alt="Оборудование для дезинсекции")
                    p(class="lead__text")
                        span(class="lead__string") Соблюдение базовых пунктов
                        |  до и после истребления насекомых обеспечит вам быстрое
                        |
                        span(class="lead__string") решение проблемы
                        |  и длительный остаточный эффект защиты от них.

        section(class="page-main__textstyle  textstyle")
            div(class="textstyle__container  container  container--textstyle")
                h2(class="textstyle__title") Как мы работаем
                picture
                    source(media="(min-width: 1220px)" srcset="img/textpage-image-large.png")
                    img(class="textstyle__image" src="img/textpage-image-small.png" alt="Наш специалист за работой")
                p(class="textstyle__details") Наш центр дезинсекции, дезинфекции и дератизации в отличие от других фирм в Москве работает круглосуточно 24 часа и без выходных, поэтому вы можете заказать услуги дезинсекции в любое удобное для вас время.
                p(class="textstyle__details") В штате нашей компании работают сотрудники с высшим медицинским образованием и большим практическим опытом:
                a(class="textstyle__button  button  button--orange" href="#") Lorem ipsum

        block contacts
            include modules/contacts-block.pug
