extends scaffolding/page-layout.pug

block title
    | Дезинсекция: описание | Услуги | Санитарная Эпидемиологическая Служба

block header
    include modules/header-inner.pug

block main
        <main class="page__main  page-main  page-main--textpage">
            <ul class="page-main__breadcrumbs  breadcrumbs  container">
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="#">Главная</a>
                </li>
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="#">Услуги</a>
                </li>
                <li class="breadcrumb__item  breadcrumb__item--active">
                    <a class="breadcrumb__link">Дезинсекция</a>
                </li>
            </ul>
            <h1 class="page-main__title  visually-hidden">Дезинсекция: описание услуги</h1>
            <section class="page-main__worktypes-text  worktypes-text">
                <div class="worktypes-text__container  container">
                    <h2 class="worktypes-text__title"><span class="worktypes-text__string">Санитарная служба</span><br> уничтожения насекомых в Москве</h2>
                    <p class="worktypes-text__details">Решить вопрос раз и навсегда способна наша санитарная служба по уничтожению вредных насекомых в Москве, а многолетний опыт и сотни благодарных отзывов — яркое тому подтверждение. Но в чем принципиальное отличие нашей компании от других, в рамках оказания одной и той же услуги? Как же происходить дезинфекция насекомых именно у нас?</p>
                    <h3 class="worktypes-text__list-title">Дезинфекция насекомых — особенности процесса:</h3>
                    <ol class="worktypes-text__list  worktypes-text__list--1">
                        <li class="worktypest-text__item">Прежде всего, необходимо определить степень заражения объекта;</li>
                        <li class="worktypest-text__item">Подготовить помещение к обработке;</li>
                        <li class="worktypest-text__item">Подобрать адекватную комбинацию рабочих препаратов;</li>
                        <li class="worktypest-text__item">Рассчитать пропорции концентратов в рабочем растворе;</li>
                    </ol>
                    <ol class="worktypes-text__list  worktypes-text__list--2">
                        <li class="worktypest-text__item">Строго соблюдать методику травли насекомых;</li>
                        <li class="worktypest-text__item">Выполнять профилактические мероприятия и рекомендации специалиста.</li>
                    </ol>
                </div>
                <div class="worktypes-text__lead  lead">
                    <div class="lead__container  container">
                        <picture class="lead__image-wrapper">
                            <source media="(min-width: 1220px)" srcset="img/worktypes-text-lead-image-large.png">
                            <img class="lead__image" src="img/worktypes-text-lead-image-small.png" alt="Оборудование для дезинсекции">
                        </picture>
                        <p class="lead__text"><span class="lead__string">Соблюдение базовых пунктов</span> до и после истребления насекомых обеспечит вам быстрое <span class="lead__string">решение проблемы</span> и длительный остаточный эффект защиты от них.</p>
                    </div>
                </div>
            </section>

            <section class="page-main__textstyle  textstyle">
                <div class="textstyle__container  container  container--textstyle">
                    <h2 class="textstyle__title">Как мы работаем</h2>
                    <picture>
                        <source media="(min-width: 1220px)" srcset="img/textpage-image-large.png">
                        <img class="textstyle__image" src="img/textpage-image-small.png" alt="Наш специалист за работой">
                    </picture>
                    <p class="textstyle__details">Наш центр дезинсекции, дезинфекции и дератизации в отличие от других фирм в Москве работает круглосуточно 24 часа и без выходных, поэтому вы можете заказать услуги дезинсекции в любое удобное для вас время.</p>
                    <p class="textstyle__details">В штате нашей компании работают сотрудники с высшим медицинским образованием и большим практическим опытом:</p>
                    <a class="textstyle__button  button  button--orange" href="#">Lorem ipsum</a>
                </div>
            </section>

            <section class="page-main__contacts  contacts">
                <iframe class="contacts__map" src="https://yandex.ru/map-widget/v1/-/CBB1QZq8HD" width="100%" height="758" frameborder="1" allowfullscreen="true"></iframe>
                <div class="contacts__container">
                    <div class="contacts__info">
                        <h2 class="contacts__title">Контакты</h2>
                        <table class="contacts__table">
                            <tbody class="contacts__table-container">
                                <tr class="contacts__table-row">
                                    <td class="contacts__table-cell  contacts__table-cell--name">Телефон</td>
                                    <td class="contacts__table-cell  contacts__table-cell--value  contacts__table-cell--value-phone">8 (495) 142-50-54</td>
                                </tr>
                                <tr class="contacts__table-row">
                                    <td class="contacts__table-cell  contacts__table-cell--name">Адрес:</td>
                                    <td class="contacts__table-cell  contacts__table-cell--value">г. Москва, Оршанская ул., 5</td>
                                </tr>
                                <tr class="contacts__table-row">
                                    <td class="contacts__table-cell  contacts__table-cell--name">Режим работы:</td>
                                    <td class="contacts__table-cell  contacts__table-cell--value">круглосуточно без выходных</td>
                                </tr>
                                <tr class="contacts__table-row">
                                    <td class="contacts__table-cell  contacts__table-cell--name">E-mail:</td>
                                    <td class="contacts__table-cell  contacts__table-cell--value  contacts__table-cell--value-email">
                                        <a class="contacts__email" href="#">info@ses-moscow.ru</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="contacts__button  button  button--orange" href="#">Заказать звонок</a>
                    </div>
                </div>
            </section>
        </main>
