.about {
    background-color: $light-gray;

    @media (min-width: $min-desktop-width) {
        padding-top: 90px;
        padding-bottom: 80px;
    }
}

.about__image {
    display: none;

    @media (min-width: $min-desktop-width) {
        display: block;
        float: right;
        margin-top: 100px;
        width: 380px;
        height: 380px;
    }
}

.about__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    color: $dark-gray;

    @media (min-width: $min-desktop-width) {
        width: 640px;
        margin-bottom: 50px;
    }
}

.about__title-string {
    color: $orange;
}

.about__details {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: $dark-gray;

    @media (min-width: $min-desktop-width) {
        width: 640px;
        margin-top: 30px;
        margin-bottom: 30px;

        &--last {
            width: 760px;
        }
    }
}

.about__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    @media (min-width: $min-desktop-width) {
        width: 500px;

        &--last {
            width: 450px;
        }
    }
}

.about__list-item {
    position: relative;
    padding-left: 50px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: $dark-gray;

    &::before {
        content: "";
        position: absolute;
        top: 7px;
        left: 20px;
        width: 12px;
        height: 12px;
        background-color: #fff;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.about__list-container {
    @media (min-width: $min-desktop-width) {
        display: flex;
    }
}
