.advantages {
  padding-bottom: 50px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #2f2f2f;

  @media (min-width: $min-desktop-width) {
    margin-bottom: 100px;
    font-size: 36px;
    text-align: left;
  }
}

.advantages__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;

  @media (min-width: $min-tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -40px;
  }

  @media (min-width: $min-desktop-width) {
    justify-content: flex-start;
    margin-left: -20px;
  }
}

.advantages__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #323232;
  background-repeat: no-repeat;
  background-position: top;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &--1 {
    padding-top: 106px;
    background-image: url("../img/advantages-1.svg");
    background-size: 82px 96px;
  }

  &--2 {
    padding-top: 94px;
    background-image: url("../img/advantages-2.svg");
    background-size: 84px 84px;
  }

  &--3 {
    padding-top: 90px;
    background-image: url("../img/advantages-3.svg");
    background-size: 83px 80px;
  }

  &--4 {
    padding-top: 85px;
    background-image: url("../img/advantages-4.svg");
    background-size: 104px 75px;
  }

  &--5 {
    padding-top: 91px;
    background-image: url("../img/advantages-5.svg");
    background-size: 86px 81px;
  }

  &--6 {
    padding-top: 134px;
    background-image: url("../img/advantages-6.svg");
    background-size: 94px 124px;
  }

  &--7 {
    padding-top: 108px;
    background-image: url("../img/advantages-7.svg");
    background-size: 112px 98px;
  }

  &--8 {
    padding-top: 93px;
    background-image: url("../img/advantages-8.svg");
    background-size: 86px 83px;
  }

  @media (min-width: $min-tablet-width) {
    width: calc((100% - 40px) / 2);
    margin-top: 40px;
    padding-top: 130px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $min-desktop-width) {
    width: calc((100% - 60px) / 3);
    margin-left: 20px;
    text-align: left;
    background-position: 0 0;
  }
}

.advantages__string {
  font-weight: 700;
}
