.button {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border: 2px solid $orange;
    cursor: pointer;

    &--transparent {
        background-color: transparent;
    }

    &--orange {
        background-color: $orange;
    }

    &--white {
        color: $orange;
        background-color: white;
        border-color: white;
    }

    @media (min-width: $min-tablet-width) {
        &--footer {
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }
}
