//TODO: проверить лишние свойства кнопок: все внутренние параметры должны быть в этом БЭМ-блоке!

.button {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border: 2px solid $orange;
    cursor: pointer;

    &--transparent {
        background-color: transparent;
    }

    &--orange {
        background-color: $orange;
    }

    &--white {
        color: $orange;
        background-color: white;
        border-color: white;
    }

    &--footer {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}
