.consultation {
    background-color: $orange;
}

.consultation__container {
    width: 502px;
    background-image: url("../img/consultation-whiteline.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.info-consultation__text {
    display: flex;
}

.consultation__title {
    font-weight: 500;

    font-size: 24px;
    text-transform: uppercase;
    color: white;
}

.consultation__tip {

    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: white;
}

.consultation__field {
    display: block;
    width: 400px;
    padding-left: 22px;
    font-weight: 300;

    font-size: 16px;
    line-height: 28px;
    color: white;
    background-color: $orange;
    border: 2px solid #ffffff;

    &::placeholder {
        color: white;
    }
}

.consultation__button {
    width: 300px;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: $orange;
    background-color: white;
    border: 2px solid white;
}
