.contacts {
    position: relative;
}

.contacts__container {
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.contacts__info {
    width: 580px;
    background-image: url("../img/contacts-redline.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.contacts__title {
    font-weight: 500;
    font-family: "HelveticaNeueCyr";
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    color: white;
}

.contacts__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.contacts__table-cell {
    font-family: "HelveticaNeueCyr";
    font-size: 16px;
    color: white;

    &--name {
        font-weight: 500;
    }

    &--value {
        font-weight: 300;
    }

    &--value--phone {
        font-size: 32px;
    }
}

.contacts__button {
    width: 260px;
    font-weight: 300;
    font-family: "HelveticaNeueCyr";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    background-color: $orange;
}
