.expertise {
    padding-top: 100px;
    padding-bottom: 110px;
}

.expertise__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    color: $dark-gray;

    @media (min-width: $min-desktop-width) {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -15px;
            left: 275px;
            width: 69px;
            height: 87px;
            background-image: url("../img/expertise-microscope.svg");
            background-size: 69px 87px;
        }
    }
}

.expertise__outer-list {
    margin-top: -60px;
    margin-bottom: 70px;
    padding-left: 0;
    list-style-type: none;

    @media (min-width: $min-desktop-width) {
        display: flex;
        flex-wrap: wrap;
    }
}

.expertise__outer-item {
    @media (min-width: $min-desktop-width) {
        margin-top: 60px;

        &--tight {
            width: 500px;
        }

        &--wide {
            width: 1000px;
        }
    }
}

.expertise__inner-container {
    @media (min-width: $min-desktop-width) {
        display: flex;
    }
}

.expertise__item-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    color: $orange;
}

.expertise__inner-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    &--wide {
        width: 50%;
    }
}

.expertise__inner-item {
    position: relative;
    padding-left: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    color: $dark-gray;

    &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 10px;
        width: 10px;
        height: 10px;
        background-color: $orange;
    }
}

.expertise__button {
    @media (min-width: $min-desktop-width) {
        width: 480px;
    }
}
