.inner-section-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: $asphalt;

    &--pricelist {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @media (min-width: $min-desktop-width) {
        font-size: 36px;
        line-height: 54px;

        &--pricelist {
            padding-top: 90px;
            padding-bottom: 90px;
        }

        &--connection {
            text-align: left;
        }
    }
}
