.main-nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        right: 71px;
        position: relative;
    }
}

.main-nav__item {
    position: relative;

    &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 20px;
        background-color: white;
    }

    @media (max-width: 1200px) {
        font-size: 16px;
    }
}

.main-nav__link {
    font-weight: 300;
    font-family: "HelveticaNeueCyr";
    font-size: 20px;
    line-height: 20px;
    color: white;

    @media (max-width: 1200px) {
        font-size: 16px;
    }
}
