.navigation {
    &--footer {
        width: 180px;
    }
}

.navigation__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    &--header {
        display: flex;
        justify-content: flex-end;
    }
}

.navigation__item {
    position: relative;

    &--header:not(:last-child) {
        margin-right: 40px;
    }

    &--header:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        width: 1px;
        height: 20px;
        background-color: white;
    }
}

.navigation__link {
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: white;
}
