.navigation {
    @media (max-width: $max-tablet-width) {
        &--js-closed {
            display: none;
        }
    }

    @media (min-width: $min-desktop-width) {
        &--footer {
            padding-top: 70px;
        }
    }
}

.navigation__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    .navigation--footer & {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -20px;
    }

    @media (min-width: $min-tablet-width) {
        .navigation--footer & {
            margin-top: 0;
        }
    }

    @media (min-width: $min-desktop-width) {
        &--header {
            display: flex;
            justify-content: flex-end;
        }

        .navigation--footer & {
            display: block;
        }
    }
}

.navigation__item {
    &--header {
        background-color: $orange;
    }

    &--header:not(:last-child) {
        border-bottom: 1px solid white;
    }

    .navigation--footer & {
        margin-top: 20px;
    }


    @media (min-width: $min-desktop-width) {
        position: relative;

        &--header {
            background-color: transparent;
        }

        &--header:not(:last-child) {
            margin-right: 40px;
            border-style: none;
        }

        &--header:not(:last-child)::after {
            content: "";
            position: absolute;
            top: 0;
            right: -20px;
            width: 1px;
            height: 20px;
            background-color: white;
        }

        .navigation--footer & {
            margin-top: 0;
        }

        .navigation--footer &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.navigation__link {
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: white;

    &--header {
        display: block;
        width: 240px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
    }

    @media (min-width: $min-desktop-width) {
        &--header {
            display: inline;
            padding-top: 0;
            padding-bottom: 0;
            text-align: left;
            text-transform: none;
        }

        .navigation--footer & {
            font-variant: normal;
        }
    }
}
