.page-main {
    background-color: #e8e8e8;
}

.page-main__double-sectioned {
    display: flex;
    justify-content: center;
    background-color: white;
}

.page-main__reference {
    width: calc((100% - 20px) / 2);
}

.page-main__consultation {
    width: calc((100% - 20px) / 2);
}
