.page-header {
    padding-top: 40px;
    padding-bottom: 140px;
    background-color: $asphalt;
    background-image: url("../img/header-backgound-large.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 240px) 100%;
}

.page-header__top-pane {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-bottom: 2px solid $orange;
}

.page-header__logo {
    width: 405px;
    height: 129px;
}

.page-header__right-pane {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 680px;
    padding-top: 15px;
}

.page-header__navigation {
    width: 100%;
    margin-bottom: 25px;
}

.page-header__phone {
    display: block;
    padding-top: 5px;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    color: white;
}

.page-header__phone-button {
    width: 315px;
    margin-left: 35px;
}

.page-header__info {
    width: 680px;
    padding-top: 50px;
    background-image: url("/img/page-header-redline.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.page-header__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: $orange;
}

.page-header__title-string {
    margin-left: 10px;
    letter-spacing: 0.8px;
    color: white;
}

.page-header__details {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 120px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: white;

    &:first-of-type {
        width: 340px;
        margin-bottom: 15px;
    }

    &:last-of-type {
        width: 380px;
        margin-bottom: 30px;
    }
}

.page-header__button {
    width: 315px;
    margin-left: 120px;
}
