.page-header {
    position: relative;
    padding-top: 30px;
    background-color: $asphalt;

    &--large {
        padding-bottom: 40px;
    }


    &--small {
        padding-bottom: 30px;
    }

    @media (min-width: $min-desktop-width) {
        position: static;

        &--large {
            padding-bottom: 140px;
            background-image: url("../img/header-backgound-large.png");
            background-repeat: no-repeat;
            background-position: calc(50% + 240px) 100%;
        }
    }
}

.page-header__top-pane {
    margin-bottom: 0;

    &--large {
        padding-bottom: 20px;
    }

    @media (min-width: $min-desktop-width) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &--large {
            padding-bottom: 30px;
        }
    }
}

.page-header__menu-button {
    position: absolute;
    z-index: 2;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: none;

    &--open {
        top: 40px;
        right: calc(50% - 140px);
        width: 50px;
        height: 30px;
        background-image: url("../img/page-header-menu-open.svg");
    }

    &--close {
        top: 20px;
        right: calc(50% - 130px);
        width: 30px;
        height: 30px;
        background-image: url("../img/page-header-menu-close.svg");
    }

    @media (min-width: $min-tablet-width) {
        &--open {
            right: calc(50% - 360px);
        }

        &--close {
            right: calc(50% - 350px);
        }
    }

    @media (max-width: $max-tablet-width) {
        &.is-hidden {
            display: none;
        }
    }

    @media (min-width: $min-desktop-width) {
        display: none;
    }
}

.page-header__logo {
    width: 210px;
    height: 67px;
    margin-bottom: 20px;

    @media (min-width: $min-tablet-width) {
        width: 405px;
        height: 129px;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    @media (min-width: $min-desktop-width) {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.page-header__right-pane {
    @media (min-width: $min-tablet-width) {
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: $min-desktop-width) {
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 680px;
        padding-top: 15px;
    }
}

.page-header__navigation {
    position: absolute;
    top: 0;
    left: calc(50% - 160px);
    z-index: 1;

    @media (min-width: $min-tablet-width) {
        left: calc(50% - 380px);
    }

    @media (min-width: $min-desktop-width) {
        position: static;
        z-index: auto;
        width: 100%;
        margin-bottom: 25px;
    }
}

.page-header__phone {
    display: block;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    color: white;

    @media (min-width: $min-tablet-width) {
        width: calc((100% - 40px) / 2);
        margin-bottom: 0;
        font-size: 32px;
        line-height: 48px;
    }

    @media (min-width: $min-desktop-width) {
        width: auto;
        padding-top: 5px;
        text-align: left;
    }
}

.page-header__phone-button {
    @media (min-width: $min-tablet-width) {
        width: calc((100% - 40px) / 2);
    }

    @media (min-width: $min-desktop-width) {
        width: 315px;
        margin-left: 35px;
    }
}

.page-header__info {
    padding-top: 20px;

    @media (min-width: $min-desktop-width) {
        padding-top: 110px;
        padding-right: 500px;
        background-image: url("/img/page-header-redline.png");
        background-repeat: no-repeat;
        background-position: 80px 50px;
        border-top: 2px solid $orange;
    }
}

.page-header__lead {
    margin-top: 0;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: center;
    color: $orange;

    @media (min-width: $min-desktop-width) {
        margin-bottom: 25px;
        font-variant: normal;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0;
        text-align: left;
    }
}

.page-header__lead-string {
    color: white;
}

.page-header__details {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: white;

    @media (min-width: $min-tablet-width) {
        margin-left: auto;
        margin-right: auto;

        &--1 {
            width: 600px;
        }
    }

    @media (min-width: $min-desktop-width) {
        margin-bottom: 15px;
        margin-left: 120px;
        margin-right: 0;
        text-align: left;

        &--1 {
            width: 320px;
        }

        &--2 {
            width: 380px;
        }
    }
}

.page-header__button {
    margin-top: 30px;

    @media (min-width: $min-tablet-width) {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: $min-desktop-width) {
        width: 315px;
        margin-top: 22px;
        margin-left: 120px;
        margin-right: 0;
    }
}
