.problems {
    background-color: $asphalt;
}

.problems__container {
    display: flex;
    background-image: url("../img/problems-cup.png");
    background-repeat: no-repeat;
}

.problems__lead {
    width: 380px;
    margin-top: 0;
    margin-bottom: 0;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 26px;
    line-height: 40px;
    color: white;
    background-image: url("../img/problems-redline.png");
    background-repeat: no-repeat;
}

.problems__string {
    color: $orange;
    letter-spacing: 0.65px;
}

.problems__list {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.problems__item {
    position: relative;
    width: 400px;
    padding-top: 255px;
    background-image: url("../img/problems-redarc.png");
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
    }

    &--1::before {
        width: 23px;
        height: 85px;
        background-image: url("../img/problems-1.png");
    }

    &--2::before {
        width: 66px;
        height: 61px;
        background-image: url("../img/problems-2.png");
    }

    &--3::before {
        width: 70px;
        height: 74px;
        background-image: url("../img/problems-3.png");
    }

    &--4::before {
        width: 63px;
        height: 73px;
        background-image: url("../img/problems-4.png");
    }

    &--5::before {
        width: 49px;
        height: 78px;
        background-image: url("../img/problems-5.png");
    }

    &--6::before {
        width: 76px;
        height: 47px;
        background-image: url("../img/problems-6.png");
    }
}

.problems__item-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: $orange;
}

.problems__item-description {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.problems__button {
    width: 320px;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    background-color: $orange;
}
