.reference {
    position: relative;
    background-color: white;
}

.reference__title {
    padding-top: 100px;
    margin-bottom: 65px;
    font-weight: 500;

    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    color: $dark-gray;
}

.reference__title-string {
    color: $orange;
}

.reference__list {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    font-weight: 400;

    font-size: 18px;
    line-height: 24px;
    color: $dark-gray;
    padding-bottom: 250px;
}

.reference__item {
    position: relative;
    margin: 10px;

    &::before {
        content: "";
        position: absolute;
        width: 17px;
        height: 9px;
        background-image: url("../img/arrow-down.png");
        background-repeat: no-repeat;
        left: -28px;
        top: 8px;
    }
}
