.worktypes-about__container {
    display: flex;
    flex-wrap: wrap;
}

.worktypes-about__image {
    display: block;
    width: 280px;
    height: 280px;
    margin-bottom: 30px;

    @media (min-width: $min-desktop-width) {
        margin-bottom: 0;
        margin-right: 20px;
    }
}

.worktypes-about__inner-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 800px;
    margin-bottom: 50px;
}

.worktypes-about__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
}

.worktypes-about__subtitle {
    width: 100%;
    margin-top: 0;
    margin-bottom: 60px;
    padding-right: 300px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: $dark-gray;
}

.worktypes-about__string {
    color: $orange;
}

.worktypes-about__list {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    &--1 {
        width: 300px;
        margin-right: 100px;
    }

    &--2 {
        width: 380px;
    }
}

.worktypes-about__item {
    position: relative;
    padding-left: 30px;
    font-weight: 300px;
    font-size: 18px;
    line-height: 28px;
    color: $dark-gray;

    &:first-child {
        margin-bottom: 10px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 9px;
        left: 10px;
        width: 10px;
        height: 10px;
        background-color: $orange;
    }
}

.worktypes-about__button {
    width: 480px;
    margin-left: 300px;
}
