.worktypes {
    padding-top: 30px;

    @media (min-width: $min-desktop-width) {
        position: relative;
        top: -35px;
        padding-top: 0;
    }
}

.worktypes__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    @media (min-width: $min-tablet-width) {
        display: flex;
        flex-wrap: wrap;
    }

    @media (min-width: $min-desktop-width) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.worktypes__item {
    @include margin-hor;

    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.worktypes__image {
    display: block;
    width: 193px;
    height: 193px;
    margin-bottom: 20px;
}

.worktypes__item-title {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #4f4f4f;
}
