section(class="page-main__calculator  calculator")
    div(class="calculator__container  container")
        h2(class="calculator__title") Калькулятор расчёта
            br
            span(class="calculator__title-string") стоимости услуг
        form(class="calculator__form" action="" method="POST")
            ul(class="calculator__list")
                li(class="calculator__item  calculator__item--select")
                    select(class="calculator__field  calculator__field--select  calculator__field--select--type")
                        option(class="calculator__option" value="Mar") Выберите тип вредителя:
                        option(class="calculator__option" value="Gre") Green
                        option(class="calculator__option" value="Yel") Yellow
                        option(class="calculator__option" value="Blu") Blue
                        option(class="calculator__option" value="Red") Red

                li(class="calculator__item  calculator__item--select")
                    select(class="calculator__field  calculator__field--select  calculator__field--select--step")
                        option(class="calculator__option" value="Mar") Шаг 3
                        option(class="calculator__option" value="Gre") Шаг 1
                        option(class="calculator__option" value="Yel") Шаг 2
                        option(class="calculator__option" value="Blu") Шаг 3
                        option(class="calculator__option" value="Red") Шаг 4

                li(class="calculator__item  calculator__item--select")
                    select(class="calculator__field  calculator__field--select  calculator__field--select--category")
                        option(class="calculator__option" value="Mar") Выберите категорию объекта:
                        option(class="calculator__option" value="Gre") Green
                        option(class="calculator__option" value="Yel") Yellow
                        option(class="calculator__option" value="Blu") Blue
                        option(class="calculator__option" value="Red") Red

                li(class="calculator__item  calculator__item--text")
                    input(class="calculator__field  calculator__field--text" type="text" placeholder="Телефон")

                li(class="calculator__download-item")
                    a(class="calculator__download-link" href="#") Скачать прайс

            button(class="calculator__button  calculator__button--reset  button" type="reset")
                span(class="button-fix") Новый расчет

            button(class="calculator__button  calculator__button--submit  button" type="submit")
                span(class="button-fix") Оформить заявку
