section(class="page-main__calculator  calculator")
    <div class="calculator__container  container">
        <h2 class="calculator__title">Калькулятор расчёта<br><span class="calculator__title-string">стоимости услуг</span></h2>
        <form class="calculator__form" action="" method="POST">
            <ul class="calculator__list">
                <li class="calculator__item  calculator__item--select">
                    <select class="calculator__field  calculator__field--select  calculator__field--select--type" id="">
                        <option class="calculator__option" value="Mar">Выберите тип вредителя:</option>
                        <option class="calculator__option" value="Gre">Green</option>
                        <option class="calculator__option" value="Yel">Yellow</option>
                        <option class="calculator__option" value="Blu">Blue</option>
                        <option class="calculator__option" value="Red">Red</option>
                    </select>
                </li>
                <li class="calculator__item  calculator__item--select">
                    <select class="calculator__field  calculator__field--select  calculator__field--select--step" id="">
                        <option class="calculator__option" value="Mar">Шаг 3</option>
                        <option class="calculator__option" value="Gre">Шаг 1</option>
                        <option class="calculator__option" value="Yel">Шаг 2</option>
                        <option class="calculator__option" value="Blu">Шаг 3</option>
                        <option class="calculator__option" value="Red">Шаг 4</option>
                    </select>
                </li>
                <li class="calculator__item  calculator__item--select">
                    <select class="calculator__field  calculator__field--select  calculator__field--select--category" id="">
                        <option class="calculator__option" value="Mar">Выберите категорию объекта:</option>
                        <option class="calculator__option" value="Gre">Green</option>
                        <option class="calculator__option" value="Yel">Yellow</option>
                        <option class="calculator__option" value="Blu">Blue</option>
                        <option class="calculator__option" value="Red">Red</option>
                    </select>
                </li>
                <li class="calculator__item  calculator__item--text">
                    <input class="calculator__field  calculator__field--text" placeholder="Телефон" type="text">
                </li>
                <li class="calculator__download-item">
                    <a class="calculator__download-link" href="">Скачать прайс</a>
                </li>
            </ul>
            <button class="calculator__button  calculator__button--reset  button" type="reset">
                <span class="button-fix">Новый расчет</span>
            </button>
            <button class="calculator__button  calculator__button--submit  button" type="submit">
                <span class="button-fix">Оформить заявку</span>
            </button>
        </form>
    </div>
