footer(class="page-footer page__footer")
    div(class="container page-footer__container")
        nav(class="navigation navigation--footer page-footer__navigation")
            ul(class="navigation__list")
                li(class="navigation__item")
                    a(class="navigation__link" href="#") Услуги
                li(class="navigation__item")
                    a(class="navigation__link" href="#") Статьи
                li(class="navigation__item")
                    a(class="navigation__link" href="#") Сертификаты
                li(class="navigation__item")
                    a(class="navigation__link" href="#") Экспертиза
                li(class="navigation__item")
                    a(class="navigation__link" href="#") Цены
                li(class="navigation__item")
                    a(class="navigation__link" href="#") Контакты
        div(class="page-footer__main-part")
            a(class="logo page-footer__logo" href="index.html")
                img(class="logo__image" src="img/logo.svg" width="210" height="67" alt="Санитарная Эпидемиологическая Служба")
            div(class="page-footer__info")
                div(class="page-footer__contacts")
                    a(class="page-footer__phone" href="tel:+74951425054") 8 (495) 142-50-54
                    a(class="page-footer__email" href="mailto:info@ses-moscow.ru") info@ses-moscow.ru
                a(class="button button--transparent button--footer page-footer__button" href="#") Заказать звонок
        p(class="page-footer__copyright")
            a(class="page-footer__copyright-link" href="https://www.waytostart.ru/") Создание сайта Веб Студия WayToStart
