header(class="page__header  page-header  page-header--small")
    div(class="page-header__container  container")
        div(class="page-header__top-pane  page-header__top-pane--small")
            button(class="page-header__menu-button  page-header__menu-button--open" type="button")
                span(class="visually-hidden") Открыть меню
            button(class="page-header__menu-button  page-header__menu-button--close  is-hidden" type="button")
                span(class="visually-hidden") Закрыть меню
            a(class="page-header__logo  logo" href="index.html")
                img(class="logo__image" src="img/logo.svg" width="210" height="67" alt="Санитарная Эпидемиологическая Служба")
            div(class="page-header__right-pane")
                nav(class="page-header__navigation  navigation  navigation--header  is-hidden")
                    ul(class="navigation__list")
                        li(class="navigation__item")
                            a(class="navigation__link" href="#") Услуги
                        li(class="navigation__item")
                            a(class="navigation__link" href="#") Статьи
                        li(class="navigation__item")
                            a(class="navigation__link" href="#") Сертификаты
                        li(class="navigation__item")
                            a(class="navigation__link" href="#") Экспертиза
                        li(class="navigation__item")
                            a(class="navigation__link" href="#") Цены
                        li(class="navigation__item")
                            a(class="navigation__link" href="#") Контакты

                a(class="page-header__phone" href="tel:+74951425054") 8 (495) 142-50-54
                a(class="page-header__phone-button  button  button--transparent" href="#") Заказать звонок

