<header class="page__header  page-header  page-header--small">
    <div class="page-header__container  container">
        <div class="page-header__top-pane  page-header__top-pane--small">
            <button class="page-header__menu-button  page-header__menu-button--open" type="button">
                <span class="visually-hidden">Открыть меню</span>
            </button>
            <button class="page-header__menu-button  page-header__menu-button--close  is-hidden" type="button">
                <span class="visually-hidden">Открыть меню</span>
            </button>
            <a class="page-header__logo  logo" href="index.html">
                <picture>
                    <source media="(min-width: 768px)" srcset="img/logo-large.png">
                    <img class="logo__image" src="img/logo-small.png" alt="Санитарная Эпидемиологическая Служба">
                </picture>
            </a>
            <div class="page-header__right-pane">
                <nav class="page-header__navigation  navigation  navigation--header  is-hidden">
                    <ul class="navigation__list  navigation__list--header">
                        <li class="navigation__item  navigation__item--header">
                            <a class="navigation__link  navigation__link--header" href="#">Услуги</a>
                        </li>
                        <li class="navigation__item  navigation__item--header">
                            <a class="navigation__link  navigation__link--header" href="#">Статьи</a>
                        </li>
                        <li class="navigation__item  navigation__item--header">
                            <a class="navigation__link  navigation__link--header" href="#">Сертификаты</a>
                        </li>
                        <li class="navigation__item  navigation__item--header">
                            <a class="navigation__link  navigation__link--header" href="#">Экспертиза</a>
                        </li>
                        <li class="navigation__item  navigation__item--header">
                            <a class="navigation__link  navigation__link--header" href="#">Цены</a>
                        </li>
                        <li class="navigation__item  navigation__item--header">
                            <a class="navigation__link  navigation__link--header" href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <span class="page-header__phone" href="#">8 (495) 142-50-54</span>
                <a class="page-header__phone-button  button  button--transparent" href="#">Заказать звонок</a>
            </div>
        </div>
    </div>
</header>
