html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0;
    font-family: "HelveticaNeueCyr";
    background-color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

select {
    background-image: url("../img/arrow-down.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-position-x: 340px;

    @media (max-width: 991px) {
        background-position-x: 216px;
    }
}

option {
    color: white;
    background-color: #336699;
    margin: 5px;
}
